@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$main_font: 'Lato', sans-serif;

// Typography 
//$mainFont: 'Monstserrat', sans-serif;

// ==================
// Theme colors
// ==================
$myAqua: #4CB8B3;
$myPink: #F53756;
$myYellow: #FEF46D;
$myLightOrange: #EFCB6C;
$myGold: #FFB343;
$myPurple: #753F97;
$myBlack: #000000;
$myWhite: #FFFFFF;
$myRed: red;
$myGray: #E1E1E1;
$myPetrolBlue: #216477;
$myDarkPetrolBlue: #0f425f;

// ==================
// Screen sizes
// ==================
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;